-# locals: deploys
- if deploys.blank?
  None
- else
  %table.content-table
    %thead
      %tr
        %td Name
        %td Branch
        %td Last deployed
        %td Deploy URL
        %td Actions
    %tbody
      - deploys.each do |deploy|
        %tr
          %td= link_to(deploy.full_name, project_deploy_path(@project, deploy))
          %td= deploy.branch
          %td
            - if deploy.deployed_at
              = time_ago_in_words(deploy.deployed_at)
              ago
            - else
              never
          %td= link_to('show', deploy.url, rel: :external)
          %td
            = link_to('deploy again', project_deploy_path(deploy.project, deploy), method: :put)
            = yield deploy
