- breadcrumb :project, @project

%h1= project.repository

- if @project.user
  %p
    Owned by: #{@project.user.username}

= link_to('Edit project', edit_project_path(@project), role: :button)

%h2 Deploys

= link_to 'Create manual deploy', new_project_deploy_path(@project)
%h3 Managed by people

= render 'deploy_table', deploys: manual_deploys do |deploy|
  = link_to('destroy', project_deploy_path(deploy.project, deploy), method: :delete, data: {confirm: 'Are you sure?'})

%h3 Managed by GitHub

= render 'deploy_table', deploys: github_deploys do |deploy|
  = link_to('github', "https://github.com/#{@project.repository}/pull/#{deploy.pr}", rel: :external)
